.footer 
{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DCDCDC;
  color: white;
  text-align: center;
}

.GrisClaro
{
    background: #f1f0ee;
    padding: 30px 0;
}

.oblique 
{
    font-family: "Latin Modern Roman 10";
    font-style: oblique;
}

.Links
{
    color: #696969;
}

.LetrasFooter
{
    color: #696969;
}

.LetrasCopy
{
    color: slategrey;
}

.TituloPorscheLatin
{
  font: 150% sans-serif;
  color: #C0C0C0;
}

.Arial
{
  font-family: "Palatino", sans-serif;
}

.XLargo
{
    font-size: x-large;
}

.Motorsport
{
    color: white;
    background: black;
}

figure.Mantenimiento
{
    max-width: 100%;
    max-height: 100%;
}

.FondoClaro
{
    background: #CCD1D1;  
}